.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.modal-overlay {
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-overlay.block .modal-box {
    animation: App-logo-spin 0.5s linear;
}

.modal-box {
    display: block;
    background: white;
    width: 70%;
    height: 70%;
    padding: 1rem;
    border-radius: 1rem;
    color: #282c34;
}

.closed {
    position: absolute;
    color: rgb(224, 55, 55);
    top: 14.5%;
    right: 14.5%;
}


@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(10deg);
    }
    20% {
        transform: rotate(0);
    }
    30% {
        transform: rotate(-10deg);
    }
    40% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(0);
    }
    70% {
        transform: rotate(-10deg);
    }
    80% {
        transform: rotate(0);
    }
    90% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0);
    }
}
